################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/BoxEngine
/x64/Release
/x64/Debug
/res/icons/add_layout.png
/BoxEngine/x64/Release
